In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from midas import Midas
m = Midas()

found name m

In [3]:
raw = [
  'a', [1,2,3,4,5,6,7,8,9,10],
  'b', [10,20,30,40,50,60,70,80,90,100],
  'c', [100,200,300,400,500,600,700,800,900,1000]
]

In [6]:
import numpy as np
mu, sigma = 10, 1 # mean and standard deviation
s = np.random.normal(mu, sigma, 100)

In [7]:
raw = [
  'a', s,
  'b', s * 2,
  'c', s * 3
]

In [8]:
raw_df = m.with_columns(raw)

found name raw_df
Adding raw_df to run time
creating profile raw_df

In [11]:
a_df = raw_df.select(['a'])

found name a_df
Adding a_df to run time
creating chart a_df
processing numeric distribution
bound size 1.0
===
a    | count
7    | 2
8    | 16
9    | 43
10   | 26
11   | 11
12   | 2
floating
[False False False False False False]
changing df a_df value

In [ ]:
m.state.dfs['b_df'].df

In [12]:
b_df = raw_df.select(['b'])
c_df = raw_df.select(['c'])

found name b_df
Adding b_df to run time
creating chart b_df
processing numeric distribution
bound size 2
===
b    | count
14   | 2
16   | 16
18   | 43
20   | 26
22   | 11
24   | 2
found name c_df
Adding c_df to run time
creating chart c_df
processing numeric distribution
bound size 5
===
c    | count
20   | 4
25   | 57
30   | 35
35   | 4

In [13]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:01:15 PM
m.add_selection_by_interaction("a_df", {"x":[8,9,10]})

selection is {'x': [8, 9, 10]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	8
  maxVal:	10]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	8
  maxVal:	10]
processing numeric distribution
===
b    | count
14   | 0
16   | 16
18   | 43
20   | 0
22   | 0
24   | 0
new data
[{'b': 14, 'count': 0}, {'b': 16, 'count': 16}, {'b': 18, 'count': 43}, {'b': 20, 'count': 0}, {'b': 22, 'count': 0}, {'b': 24, 'count': 0}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	8
  maxVal:	10]
processing numeric distribution
===
c    | count
20   | 2
25   | 57
30   | 0
35   | 0
new data
[{'c': 20, 'count': 2}, {'c': 25, 'count': 57}, {'c': 30, 'count': 0}, {'c': 35, 'count': 0}]
changing df c_df value

In [14]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:01:20 PM
m.add_selection_by_interaction("a_df", {"x":[9,10,11]})

selection is {'x': [9, 10, 11]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	9
  maxVal:	11]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	9
  maxVal:	11]
processing numeric distribution
===
b    | count
14   | 0
16   | 0
18   | 43
20   | 26
22   | 0
24   | 0
new data
[{'b': 14, 'count': 0}, {'b': 16, 'count': 0}, {'b': 18, 'count': 43}, {'b': 20, 'count': 26}, {'b': 22, 'count': 0}, {'b': 24, 'count': 0}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	9
  maxVal:	11]
processing numeric distribution
===
c    | count
20   | 0
25   | 43
30   | 26
35   | 0
new data
[{'c': 20, 'count': 0}, {'c': 25, 'count': 43}, {'c': 30, 'count': 26}, {'c': 35, 'count': 0}]
changing df c_df value

In [15]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:01:21 PM
m.add_selection_by_interaction("a_df", {"x":[10,11,12]})

selection is {'x': [10, 11, 12]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	10
  maxVal:	12]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	10
  maxVal:	12]
processing numeric distribution
===
b    | count
14   | 0
16   | 0
18   | 0
20   | 26
22   | 11
24   | 0
new data
[{'b': 14, 'count': 0}, {'b': 16, 'count': 0}, {'b': 18, 'count': 0}, {'b': 20, 'count': 26}, {'b': 22, 'count': 11}, {'b': 24, 'count': 0}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	10
  maxVal:	12]
processing numeric distribution
===
c    | count
20   | 0
25   | 0
30   | 35
35   | 2
new data
[{'c': 20, 'count': 0}, {'c': 25, 'count': 0}, {'c': 30, 'count': 35}, {'c': 35, 'count': 2}]
changing df c_df value

In [16]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:04:54 PM
m.add_selection_by_interaction("a_df", {"x":[8,9,10]})

selection is {'x': [8, 9, 10]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	8
  maxVal:	10]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	8
  maxVal:	10]
new data
[{'b': 14, 'count': 0}, {'b': 16, 'count': 16}, {'b': 18, 'count': 43}, {'b': 20, 'count': 0}, {'b': 22, 'count': 0}, {'b': 24, 'count': 0}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	8
  maxVal:	10]
new data
[{'c': 20, 'count': 2}, {'c': 25, 'count': 57}, {'c': 30, 'count': 0}, {'c': 35, 'count': 0}]
changing df c_df value

In [17]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:04:55 PM
m.add_selection_by_interaction("a_df", {"x":[9,10,11]})

selection is {'x': [9, 10, 11]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	9
  maxVal:	11]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	9
  maxVal:	11]
new data
[{'b': 14, 'count': 0}, {'b': 16, 'count': 0}, {'b': 18, 'count': 43}, {'b': 20, 'count': 26}, {'b': 22, 'count': 0}, {'b': 24, 'count': 0}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	9
  maxVal:	11]
new data
[{'c': 20, 'count': 0}, {'c': 25, 'count': 43}, {'c': 30, 'count': 26}, {'c': 35, 'count': 0}]
changing df c_df value

In [18]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:04:57 PM
m.add_selection_by_interaction("a_df", {"x":[8,9,10]})

selection is {'x': [8, 9, 10]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	8
  maxVal:	10]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	8
  maxVal:	10]
new data
[{'b': 14, 'count': 0}, {'b': 16, 'count': 16}, {'b': 18, 'count': 43}, {'b': 20, 'count': 0}, {'b': 22, 'count': 0}, {'b': 24, 'count': 0}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	8
  maxVal:	10]
new data
[{'c': 20, 'count': 2}, {'c': 25, 'count': 57}, {'c': 30, 'count': 0}, {'c': 35, 'count': 0}]
changing df c_df value

In [19]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:04:58 PM
m.add_selection_by_interaction("a_df", {"x":[11,12]})

selection is {'x': [11, 12]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	11
  maxVal:	12]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	11
  maxVal:	12]
floating
[False False False False False False False False False False False]
new data
[{'b': 22.06925166738643, 'count': 1}, {'b': 22.279482344849992, 'count': 1}, {'b': 22.299538582628152, 'count': 1}, {'b': 22.362536184164345, 'count': 1}, {'b': 22.393761051873057, 'count': 1}, {'b': 22.523581963316204, 'count': 1}, {'b': 22.876959947168164, 'count': 1}, {'b': 22.91952378014877, 'count': 1}, {'b': 23.15646600340335, 'count': 1}, {'b': 23.44997281420882, 'count': 1}, {'b': 23.743782040137244, 'count': 1}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	11
  maxVal:	12]
floating
[False False False False False False False False False False False]
new data
[{'c': 33.103877501079644, 'count': 1}, {'c': 33.419223517274986, 'count': 1}, {'c': 33.44930787394223, 'count': 1}, {'c': 33.54380427624652, 'count': 1}, {'c': 33.590641577809585, 'count': 1}, {'c': 33.785372944974306, 'count': 1}, {'c': 34.31543992075225, 'count': 1}, {'c': 34.379285670223155, 'count': 1}, {'c': 34.73469900510502, 'count': 1}, {'c': 35.17495922131323, 'count': 1}, {'c': 35.615673060205864, 'count': 1}]
changing df c_df value

In [20]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:05:00 PM
m.add_selection_by_interaction("a_df", {"x":[7,8,9]})

selection is {'x': [7, 8, 9]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	7
  maxVal:	9]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	7
  maxVal:	9]
floating
[False False False False False False False False False False False False
 False False False False False False]
new data
[{'b': 14.76684088074672, 'count': 1}, {'b': 14.819290591807462, 'count': 1}, {'b': 16.283617751909055, 'count': 1}, {'b': 16.42647558415393, 'count': 1}, {'b': 16.810524561130496, 'count': 1}, {'b': 16.973484207609896, 'count': 1}, {'b': 17.021208556886112, 'count': 1}, {'b': 17.204429870407907, 'count': 1}, {'b': 17.229157957561757, 'count': 1}, {'b': 17.294378947660483, 'count': 1}, {'b': 17.31402242882782, 'count': 1}, {'b': 17.34249668598666, 'count': 1}, {'b': 17.59641959573384, 'count': 1}, {'b': 17.62751530259863, 'count': 1}, {'b': 17.687666515140542, 'count': 1}, {'b': 17.954561286584777, 'count': 1}, {'b': 17.985221224641595, 'count': 1}, {'b': 17.988096386799857, 'count': 1}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	7
  maxVal:	9]
floating
[False False False False False False False False False False False False
 False False False False False False]
new data
[{'c': 22.15026132112008, 'count': 1}, {'c': 22.228935887711195, 'count': 1}, {'c': 24.425426627863583, 'count': 1}, {'c': 24.639713376230894, 'count': 1}, {'c': 25.215786841695746, 'count': 1}, {'c': 25.460226311414843, 'count': 1}, {'c': 25.53181283532917, 'count': 1}, {'c': 25.80664480561186, 'count': 1}, {'c': 25.843736936342637, 'count': 1}, {'c': 25.941568421490725, 'count': 1}, {'c': 25.97103364324173, 'count': 1}, {'c': 26.01374502897999, 'count': 1}, {'c': 26.39462939360076, 'count': 1}, {'c': 26.441272953897947, 'count': 1}, {'c': 26.531499772710813, 'count': 1}, {'c': 26.931841929877166, 'count': 1}, {'c': 26.977831836962395, 'count': 1}, {'c': 26.982144580199787, 'count': 1}]
changing df c_df value

In [21]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:05:00 PM
m.add_selection_by_interaction("a_df", {"x":[7,8,9]})

selection is {'x': [7, 8, 9]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	7
  maxVal:	9]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	7
  maxVal:	9]
floating
[False False False False False False False False False False False False
 False False False False False False]
new data
[{'b': 14.76684088074672, 'count': 1}, {'b': 14.819290591807462, 'count': 1}, {'b': 16.283617751909055, 'count': 1}, {'b': 16.42647558415393, 'count': 1}, {'b': 16.810524561130496, 'count': 1}, {'b': 16.973484207609896, 'count': 1}, {'b': 17.021208556886112, 'count': 1}, {'b': 17.204429870407907, 'count': 1}, {'b': 17.229157957561757, 'count': 1}, {'b': 17.294378947660483, 'count': 1}, {'b': 17.31402242882782, 'count': 1}, {'b': 17.34249668598666, 'count': 1}, {'b': 17.59641959573384, 'count': 1}, {'b': 17.62751530259863, 'count': 1}, {'b': 17.687666515140542, 'count': 1}, {'b': 17.954561286584777, 'count': 1}, {'b': 17.985221224641595, 'count': 1}, {'b': 17.988096386799857, 'count': 1}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	7
  maxVal:	9]
floating
[False False False False False False False False False False False False
 False False False False False False]
new data
[{'c': 22.15026132112008, 'count': 1}, {'c': 22.228935887711195, 'count': 1}, {'c': 24.425426627863583, 'count': 1}, {'c': 24.639713376230894, 'count': 1}, {'c': 25.215786841695746, 'count': 1}, {'c': 25.460226311414843, 'count': 1}, {'c': 25.53181283532917, 'count': 1}, {'c': 25.80664480561186, 'count': 1}, {'c': 25.843736936342637, 'count': 1}, {'c': 25.941568421490725, 'count': 1}, {'c': 25.97103364324173, 'count': 1}, {'c': 26.01374502897999, 'count': 1}, {'c': 26.39462939360076, 'count': 1}, {'c': 26.441272953897947, 'count': 1}, {'c': 26.531499772710813, 'count': 1}, {'c': 26.931841929877166, 'count': 1}, {'c': 26.977831836962395, 'count': 1}, {'c': 26.982144580199787, 'count': 1}]
changing df c_df value

In [22]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:05:03 PM
m.add_selection_by_interaction("a_df", {"x":[10,11,12]})

selection is {'x': [10, 11, 12]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	10
  maxVal:	12]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	10
  maxVal:	12]
new data
[{'b': 14, 'count': 0}, {'b': 16, 'count': 0}, {'b': 18, 'count': 0}, {'b': 20, 'count': 26}, {'b': 22, 'count': 11}, {'b': 24, 'count': 0}]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	10
  maxVal:	12]
new data
[{'c': 20, 'count': 0}, {'c': 25, 'count': 0}, {'c': 30, 'count': 35}, {'c': 35, 'count': 2}]
changing df c_df value

In [23]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 8:05:06 PM
m.add_selection_by_interaction("a_df", {"x":[12]})

selection is {'x': [12]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	12
  maxVal:	12]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	12
  maxVal:	12]
floating
[]
floating
[]
new data
[]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	12
  maxVal:	12]
floating
[]
floating
[]
new data
[]
changing df c_df value

In [ ]:
# [MIDAS] You selected the following from b_df at time 11/19/2019, 6:39:05 PM
m.add_selection_by_interaction("b_df", {"x":[-0.4,-0.2]})

In [ ]:

c2_df = raw_df.select(['c'])

In [ ]:
a_stream = a_df.get_stream()

In [ ]:
a_stream.current

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 1:08:28 PM
m.add_selection_by_interaction("a_df", {"x":[2,3,4,5]})

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 1:08:31 PM
m.add_selection_by_interaction("a_df", None)

In [ ]:
raw2 = [
  'a', [1,2,3,4],
  'sales', ["good", "bad", "great", "good"]
]
sales_df = m.with_columns(raw2)

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 12:58:50 PM
m.add_selection_by_interaction("a_df", null)

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 12:58:48 PM
m.add_selection_by_interaction("a_df", {"x":[1,2,3]})

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 12:58:08 PM
m.add_selection_by_interaction("a_df", {"x":[1,2,3]})

In [ ]:
raw_df.join(sales_df)

In [ ]:
from datascience import are
t2 = raw_df.where('b', are.below_or_equal_to(60)).select(['a'])

In [ ]:
a_stream = t.get_stream()

In [ ]:
a_stream.current

In [ ]:
def transform(predicate):
    m.ui_comm.send_debug_msg(f"Transform {predicate}")
    new_mdf = all_df.apply_selection(predicate)
    new_mdf.project([new_mdf.c]).assign("c_df")

a_stream.add_callback(transform)