In [ ]:
%load_ext autoreload
%autoreload 2

In [10]:
from midas import Midas
m = Midas()

In [11]:



raw = [
  'a', [1,2,3,4,5,6,7,8,9,10],
  'b', [10,20,30,40,50,60,70,80,90,100],
  'c', [100,200,300,400,500,600,700,800,900,1000]
]

In [19]:
import numpy as np
mu, sigma = 0, 0.1 # mean and standard deviation
s = np.random.normal(mu, sigma, 100)

In [21]:
s*2

array([-0.12836149,  0.18926859,  0.16418116, -0.12578548,  0.11857322,
       -0.0897068 , -0.33760877,  0.02389628, -0.32551322, -0.26329993,
       -0.10150992, -0.50805901,  0.22500227, -0.21223286,  0.11919898,
        0.11619249,  0.10263453,  0.12302792,  0.1819434 , -0.04596026,
        0.01193485,  0.17007105,  0.14275353,  0.05050474,  0.07488091,
       -0.00453506,  0.0399041 ,  0.12811948,  0.06273173, -0.21602936,
        0.14213635, -0.27104299, -0.11372947, -0.25461939, -0.42367984,
        0.27464151,  0.0362265 ,  0.05985332,  0.12190414,  0.15834684,
       -0.09355272,  0.20738293,  0.20304033,  0.20521406, -0.21858305,
       -0.26002653, -0.0180455 , -0.02611827,  0.29743276, -0.47720182,
       -0.20674738,  0.15724561, -0.18792023, -0.4330823 ,  0.21229059,
       -0.11722564,  0.00917221, -0.15448864, -0.20075785, -0.0475848 ,
        0.04966415, -0.39747241, -0.20319906,  0.22132363,  0.08672397,
       -0.11230862,  0.03943203,  0.10522106,  0.00774002,  0.01519486,
        0.24762811,  0.12419963,  0.53764328, -0.01356654,  0.06108126,
       -0.2329513 ,  0.0649951 ,  0.20784659,  0.07469134, -0.05978727,
       -0.35733396,  0.20951108, -0.36811291, -0.18205011,  0.54692155,
        0.05323262, -0.29419102, -0.00345851, -0.2257333 , -0.01549248,
       -0.26883326,  0.06359234,  0.28297464, -0.00087824, -0.03141281,
        0.33610001, -0.41747759, -0.09813556,  0.11043656,  0.00281826])

In [ ]:
raw = [
  'a', s,
  'b', s * 2,
  'c', s * 3
]

In [12]:
raw_df = m.with_columns(raw)

found name raw_df
Adding raw_df to run time
creating profile raw_df

In [13]:
a_df = raw_df.select(['a'])

found name a_df
Adding a_df to run time
creating chart a_df

In [14]:
b_df = raw_df.select(['b'])
c_df = raw_df.select(['c'])

found name b_df
Adding b_df to run time
creating chart b_df
found name c_df
Adding c_df to run time
creating chart c_df

In [15]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 1:13:56 PM
m.add_selection_by_interaction("a_df", {"x":[2,3,4,5]})

selection is {'x': [2, 3, 4, 5]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	2
  maxVal:	5]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	2
  maxVal:	5]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	2
  maxVal:	5]
changing df c_df value

In [16]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 1:13:57 PM
m.add_selection_by_interaction("a_df", None)

selection is None
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: []}
changing df b_df value
changing df c_df value

In [17]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 1:13:59 PM
m.add_selection_by_interaction("a_df", {"x":[5,6,7,8]})

selection is {'x': [5, 6, 7, 8]}
[tick]		processing a_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	5
  maxVal:	8]}
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	5
  maxVal:	8]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	5
  maxVal:	8]
changing df c_df value

In [18]:
# [MIDAS] You selected the following from b_df at time 11/19/2019, 1:14:02 PM
m.add_selection_by_interaction("b_df", {"x":[50,60]})

selection is {'x': [50, 60]}
[tick]		processing b_df for predicate{'a_df': df: a_df
  predicates: [
column:	a_df.a
  minVal:	5
  maxVal:	8], 'b_df': df: b_df
  predicates: [
column:	b_df.b
  minVal:	50
  maxVal:	60]}
Context apply_selection called a_df
[
column:	b_df.b
  minVal:	50
  maxVal:	60]
changing df a_df value
Context apply_selection called b_df
[
column:	a_df.a
  minVal:	5
  maxVal:	8]
changing df b_df value
Context apply_selection called c_df
[
column:	a_df.a
  minVal:	5
  maxVal:	8,
column:	b_df.b
  minVal:	50
  maxVal:	60]
changing df c_df value

In [ ]:

c2_df = raw_df.select(['c'])

In [ ]:
a_stream = a_df.get_stream()

In [ ]:
a_stream.current

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 1:08:28 PM
m.add_selection_by_interaction("a_df", {"x":[2,3,4,5]})

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 1:08:31 PM
m.add_selection_by_interaction("a_df", None)

In [ ]:
raw2 = [
  'a', [1,2,3,4],
  'sales', ["good", "bad", "great", "good"]
]
sales_df = m.with_columns(raw2)

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 12:58:50 PM
m.add_selection_by_interaction("a_df", null)

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 12:58:48 PM
m.add_selection_by_interaction("a_df", {"x":[1,2,3]})

In [ ]:
# [MIDAS] You selected the following from a_df at time 11/19/2019, 12:58:08 PM
m.add_selection_by_interaction("a_df", {"x":[1,2,3]})

In [ ]:
raw_df.join(sales_df)

In [ ]:
from datascience import are
t2 = raw_df.where('b', are.below_or_equal_to(60)).select(['a'])

In [ ]:
a_stream = t.get_stream()

In [ ]:
a_stream.current

In [ ]:
def transform(predicate):
    m.ui_comm.send_debug_msg(f"Transform {predicate}")
    new_mdf = all_df.apply_selection(predicate)
    new_mdf.project([new_mdf.c]).assign("c_df")

a_stream.add_callback(transform)