# Accessing Selections
Underneath the hood, `Midas` creates an _event loop_ that updates the values everytime there is a new selection

In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
from midas import Midas
m = Midas()

In [2]:
cars_df = m.read_json('data/cars.json', 'cars_df')

[register_df]		cars_df

In [3]:
cars_df.head(5)

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
m_index,,,,,,,,,
0-cars_df,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1-cars_df,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2-cars_df,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3-cars_df,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4-cars_df,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

### Read the predicate

In [4]:
s = m.get_current_selection('cars_df')

# you can see what the selection was
s.x

(14.149531249999999, 17.569531249999997)

In [5]:
# you can also see when the interaction was made
s.interaction_time

datetime.datetime(2019, 9, 11, 10, 16, 34, 958283)

In [6]:
# you can also access the predicate by the data that is filtered
m.get_current_selection('cars_df', "data")

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
m_index,,,,,,,,,
21-cars_df,15.5,6,198.0,95.0,22.0,plymouth duster,USA,2833,1970-01-01
22-cars_df,15.5,6,199.0,97.0,18.0,amc hornet,USA,2774,1970-01-01
23-cars_df,16.0,6,200.0,85.0,21.0,ford maverick,USA,2587,1970-01-01
30-cars_df,15.0,6,199.0,90.0,21.0,amc gremlin,USA,2648,1970-01-01
41-cars_df,15.5,6,225.0,105.0,16.0,plymouth satellite custom,USA,3439,1971-01-01
42-cars_df,15.5,6,250.0,100.0,17.0,chevrolet chevelle malibu,USA,3329,1971-01-01
43-cars_df,15.5,6,250.0,88.0,19.0,ford torino 500,USA,3302,1971-01-01
44-cars_df,15.5,6,232.0,100.0,18.0,amc matador,USA,3288,1971-01-01
54-cars_df,15.0,6,250.0,100.0,19.0,pontiac firebird,USA,3282,1971-01-01
55-cars_df,14.5,6,250.0,88.0,18.0,ford mustang,USA,3139,1971-01-01
104-cars_df,16.5,6,225.0,105.0,18.0,plymouth valiant,USA,3121,1973-01-01
106-cars_df,16.0,6,232.0,100.0,18.0,amc hornet,USA,2945,1973-01-01
107-cars_df,16.5,6,250.0,88.0,18.0,ford maverick,USA,3021,1973-01-01
108-cars_df,16.0,6,198.0,95.0,23.0,plymouth duster,USA,2904,1973-01-01
114-cars_df,15.0,6,232.0,100.0,18.0,amc gremlin,USA,2789,1973-01-01
132-cars_df,16.5,6,198.0,95.0,20.0,plymouth duster,USA,3102,1974-01-01
133-cars_df,17.0,6,200.0,NaN,21.0,ford maverick,USA,2875,1974-01-01
134-cars_df,16.0,6,232.0,100.0,19.0,amc hornet,USA,2901,1974-01-01
135-cars_df,17.0,6,250.0,100.0,15.0,chevrolet nova,USA,3336,1974-01-01
140-cars_df,17.0,6,250.0,100.0,16.0,chevrolet chevelle malibu classic,USA,3781,1974-01-01
142-cars_df,16.5,6,225.0,105.0,18.0,plymouth satellite sebring,USA,3613,1974-01-01
159-cars_df,16.0,6,225.0,95.0,19.0,plymouth valiant custom,USA,3264,1975-01-01
160-cars_df,16.0,6,250.0,105.0,18.0,chevrolet nova,USA,3459,1975-01-01
171-cars_df,15.0,6,231.0,110.0,21.0,buick skyhawk,USA,3039,1975-01-01
176-cars_df,16.0,6,232.0,100.0,20.0,amc gremlin,USA,2914,1975-01-01
181-cars_df,14.5,6,171.0,97.0,18.0,ford pinto,USA,2984,1975-01-01
183-cars_df,17.0,6,232.0,90.0,19.0,amc pacer,USA,3211,1975-01-01
198-cars_df,15.4,6,225.0,100.0,22.0,plymouth valiant,USA,3233,1976-01-01
199-cars_df,14.5,6,250.0,105.0,22.0,chevrolet nova,USA,3353,1976-01-01
208-cars_df,16.2,6,250.0,110.0,18.5,pontiac ventura sj,USA,3645,1976-01-01
217-cars_df,15.5,6,156.0,108.0,19.0,toyota mark ii,Japan,2930,1976-01-01
218-cars_df,16.7,6,168.0,120.0,16.5,mercedes-benz 280s,Europe,3820,1976-01-01
232-cars_df,16.4,6,250.0,110.0,17.5,chevrolet concours,USA,3520,1977-01-01
233-cars_df,16.9,6,231.0,105.0,20.5,buick skylark,USA,3425,1977-01-01
248-cars_df,14.5,6,146.0,97.0,22.0,datsun 810,Japan,2815,1977-01-01
261-cars_df,15.8,6,200.0,85.0,20.2,ford fairmont (auto),USA,2965,1978-01-01
263-cars_df,17.2,6,225.0,100.0,20.5,plymouth volare,USA,3430,1978-01-01
264-cars_df,17.2,6,232.0,90.0,19.4,amc concord,USA,3210,1978-01-01
265-cars_df,15.8,6,231.0,105.0,20.6,buick century special,USA,3380,1978-01-01
266-cars_df,16.7,6,200.0,85.0,20.8,mercury zephyr,USA,3070,1978-01-01
268-cars_df,15.1,6,258.0,120.0,18.1,amc concord d/l,USA,3410,1978-01-01
281-cars_df,15.9,5,131.0,103.0,20.3,audi 5000,Europe,2830,1978-01-01
284-cars_df,15.8,6,163.0,133.0,16.2,peugeot 604sl,Europe,3410,1978-01-01
287-cars_df,15.4,6,231.0,115.0,21.5,pontiac lemans v6,USA,3245,1979-01-01
291-cars_df,16.6,6,225.0,110.0,20.6,dodge aspen 6,USA,3360,1979-01-01
371-cars_df,15.8,6,231.0,110.0,22.4,buick century,USA,3415,1982-01-01
373-cars_df,17.1,6,200.0,88.0,20.2,ford granada gl,USA,3060,1982-01-01
374-cars_df,16.6,6,225.0,85.0,17.6,chrysler lebaron salon,USA,3465,1982-01-01
394-cars_df,16.4,6,181.0,110.0,25.0,buick century limited,USA,2945,1982-01-01
395-cars_df,17.0,6,262.0,85.0,38.0,oldsmobile cutlass ciera (diesel),USA,3015,1982-01-01
397-cars_df,14.7,6,232.0,112.0,22.0,ford granada l,USA,2835,1982-01-01

## Accessing the Current Interactive Selection in Code

In [7]:
# you can click on the `code` button, or run the follow function to get the code that represents the selection
m.js_get_current_chart_code('cars_df')

# generated from interaction on `cars_df` at time 09_11_10_16_34
cars_df.loc[
(cars_df['Acceleration'] < 17.569531249999997)
& (cars_df['Acceleration'] > 14.149531249999999)
& (cars_df['Cylinders'] > 4.7828125)
& (cars_df['Cylinders'] < 6.6078125)
]

"# generated from interaction on `cars_df` at time 09_11_10_16_34\ncars_df.loc[\n(cars_df['Acceleration'] < 17.569531249999997)\n& (cars_df['Acceleration'] > 14.149531249999999)\n& (cars_df['Cylinders'] > 4.7828125)\n& (cars_df['Cylinders'] < 6.6078125)\n]"

In [ ]:
# you can also access the info via GUI

# generated from interaction on `cars_df` at time 09_11_10_16_34
cars_df.loc[
(cars_df['Acceleration'] < 17.569531249999997)
& (cars_df['Acceleration'] > 14.149531249999999)
& (cars_df['Cylinders'] > 4.7828125)
& (cars_df['Cylinders'] < 6.6078125)
]

## Create a Detail on Demand Visualization with _Derived Charts_

In [8]:
# the user can define a new dataframe based on the selection, which we will visualize
@m.bind("data", "data", 'cars_df', 'detail_df')
# Eugene feedback: bind has too many concepts
# - maybe make the notion of "stream" explicit
# x = cars_df.data_selection() # pointer to event stream
# x.on("events", lambda df: return render(df))

def df_copy(df_in):
    return df_in

[_add_to_tick]		 calledcars_df
TickItem(param_type=<TickIOType.data: 'data'>, output_type=<TickIOType.data: 'data'>, call=<function df_copy at 0x113900ae8>, target_df='detail_df', last_called=None)

## Specifying _Derived Charts_

In [9]:
# the user can define a new dataframe based on the selection, which we will visualize
@m.bind("data", "data", 'cars_df', "test_df")
def df_trans(df_in):
    df_out = df_in['Cylinders'] + df_in['Acceleration']
    return df_out.to_frame('Val')

[_add_to_tick]		 calledcars_df
TickItem(param_type=<TickIOType.data: 'data'>, output_type=<TickIOType.data: 'data'>, call=<function df_trans at 0x112ffe378>, target_df='test_df', last_called=None)

In [10]:
# note that while the value of d is reactively updated,
#   anything that depends on d is _not_ re-ran
d = None
@m.bind("predicate", "void", 'cars_df')
def cb(predicate):
    global d
    d = predicate

[_add_to_tick]		 calledcars_df
TickItem(param_type=<TickIOType.predicate: 'predicate'>, output_type=<TickIOType.void: 'void'>, call=<function cb at 0x113927bf8>, target_df=None, last_called=None)

In [13]:
%% reactive
d.x

(14.19453125, 17.47953125)