# Static Chart Visualization Demo
This notebook show cases how Midas could help you see the `DataFrame`s as you make then

In [1]:
%load_ext autoreload
%autoreload 2

In [14]:
from midas import Midas
m = Midas()

In [3]:
import pandas as pd

In [4]:
# load DF, using 
cars_df = pd.read_json('data/cars.json')

In [6]:
small_df = cars_df.head(5)
small_df

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [15]:
m.register_df('small_df', small_df)

[register_df]		small_df

In [12]:
small_df.to_json(orient="table")

'{"schema": {"fields":[{"name":"index","type":"integer"},{"name":"Acceleration","type":"number"},{"name":"Cylinders","type":"integer"},{"name":"Displacement","type":"number"},{"name":"Horsepower","type":"number"},{"name":"Miles_per_Gallon","type":"number"},{"name":"Name","type":"string"},{"name":"Origin","type":"string"},{"name":"Weight_in_lbs","type":"integer"},{"name":"Year","type":"string"}],"primaryKey":["index"],"pandas_version":"0.20.0"}, "data": [{"index":0,"Acceleration":12.0,"Cylinders":8,"Displacement":307.0,"Horsepower":130.0,"Miles_per_Gallon":18.0,"Name":"chevrolet chevelle malibu","Origin":"USA","Weight_in_lbs":3504,"Year":"1970-01-01"},{"index":1,"Acceleration":11.5,"Cylinders":8,"Displacement":350.0,"Horsepower":165.0,"Miles_per_Gallon":15.0,"Name":"buick skylark 320","Origin":"USA","Weight_in_lbs":3693,"Year":"1970-01-01"},{"index":2,"Acceleration":11.0,"Cylinders":8,"Displacement":318.0,"Horsepower":150.0,"Miles_per_Gallon":18.0,"Name":"plymouth satellite","Origin":"USA","Weight_in_lbs":3436,"Year":"1970-01-01"},{"index":3,"Acceleration":12.0,"Cylinders":8,"Displacement":304.0,"Horsepower":150.0,"Miles_per_Gallon":16.0,"Name":"amc rebel sst","Origin":"USA","Weight_in_lbs":3433,"Year":"1970-01-01"},{"index":4,"Acceleration":10.5,"Cylinders":8,"Displacement":302.0,"Horsepower":140.0,"Miles_per_Gallon":17.0,"Name":"ford torino","Origin":"USA","Weight_in_lbs":3449,"Year":"1970-01-01"}]}'

In [5]:
# let's try a bar chart, select just the origins
origin_df = m.loc('cars_df', 'origin_df', columns=['Origin'])
# cars_df[['Origin']]

[register_df]		origin_df

In [6]:
displacement_df = m.loc('cars_df', 'displacement_df', columns=['Displacement'])

[register_df]		displacement_df

In [9]:
import pandas as pd

In [10]:
# this is a test for timeseries
reviews_df_raw = pd.read_csv('data/pitchfork.csv',
                 index_col=None,
                 parse_dates=['pub_date'])
reviews_df = reviews_df_raw[['pub_date']]
m.register_df(reviews_df, 'reivews_df')

[register_df]		reivews_df