In [7]:
import pandas as pd

In [1]:
from midas.widget import MidasWidget

In [2]:
spec_with_data = {
  "$schema": "https://vega.github.io/schema/vega/v5.json",
  "width": 400,
  "height": 200,
  "padding": 5,

  "data": [
    {
      "name": "table",
      "values": [
        {"category": "A", "amount": 28},
        {"category": "B", "amount": 55},
        {"category": "C", "amount": 43},
        {"category": "D", "amount": 91},
        {"category": "E", "amount": 81},
        {"category": "F", "amount": 53},
        {"category": "G", "amount": 19},
        {"category": "H", "amount": 87}
      ]
    }
  ],

  "signals": [
    {
      "name": "tooltip",
      "value": {},
      "on": [
        {"events": "rect:mouseover", "update": "datum"}
      ]
    }
  ],

  "scales": [
    {
      "name": "xscale",
      "type": "band",
      "domain": {"data": "table", "field": "category"},
      "range": "width",
      "padding": 0.05,
      "round": True
    },
    {
      "name": "yscale",
      "domain": {"data": "table", "field": "amount"},
      "nice": True,
      "range": "height"
    }
  ],

  "axes": [
    { "orient": "bottom", "scale": "xscale" },
    { "orient": "left", "scale": "yscale" }
  ],

  "marks": [
    {
      "type": "rect",
      "from": {"data":"table"},
      "encode": {
        "enter": {
          "x": {"scale": "xscale", "field": "category"},
          "width": {"scale": "xscale", "band": 1},
          "y": {"scale": "yscale", "field": "amount"},
          "y2": {"scale": "yscale", "value": 0}
        },
        "update": {
          "fill": {"value": "steelblue"}
        },
        "hover": {
          "fill": {"value": "red"}
        }
      }
    },
    {
      "type": "text",
      "encode": {
        "enter": {
          "align": {"value": "center"},
          "baseline": {"value": "bottom"},
          "fill": {"value": "#333"}
        },
        "update": {
          "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
          "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
          "text": {"signal": "tooltip.amount"},
          "fillOpacity": [
            {"test": "datum === tooltip", "value": 0},
            {"value": 1}
          ]
        }
      }
    }
  ]
}

In [3]:
widget = MidasWidget(spec_with_data)

In [ ]:
values =[dict(category="I", amount=128)]
widget.update('table', insert=values)

In [8]:
newDf = pd.DataFrame({'category': ["X", "Y", "Z"], "amount": [123, 90, 40]})

In [9]:
newDf

  category  amount
0        X     123
1        Y      90
2        Z      40

In [10]:
widget.replaceData('table', newDf)

In [11]:
spec_with_data2 = {
  "$schema": "https://vega.github.io/schema/vega/v5.json",
  "width": 400,
  "height": 200,
  "padding": 5,

  "data": [
    {
      "name": "table",
      "values": [
        {"category": "Apple", "amount": 28},
        {"category": "Banana", "amount": 155},
        {"category": "Cherry", "amount": 43},
      ]
    }
  ],

  "signals": [
    {
      "name": "tooltip",
      "value": {},
      "on": [
        {"events": "rect:mouseover", "update": "datum"}
      ]
    }
  ],

  "scales": [
    {
      "name": "xscale",
      "type": "band",
      "domain": {"data": "table", "field": "category"},
      "range": "width",
      "padding": 0.05,
      "round": True
    },
    {
      "name": "yscale",
      "domain": {"data": "table", "field": "amount"},
      "nice": True,
      "range": "height"
    }
  ],

  "axes": [
    { "orient": "bottom", "scale": "xscale" },
    { "orient": "left", "scale": "yscale" }
  ],

  "marks": [
    {
      "type": "rect",
      "from": {"data":"table"},
      "encode": {
        "enter": {
          "x": {"scale": "xscale", "field": "category"},
          "width": {"scale": "xscale", "band": 1},
          "y": {"scale": "yscale", "field": "amount"},
          "y2": {"scale": "yscale", "value": 0}
        },
        "update": {
          "fill": {"value": "green"}
        },
        "hover": {
          "fill": {"value": "gray"}
        }
      }
    },
    {
      "type": "text",
      "encode": {
        "enter": {
          "align": {"value": "center"},
          "baseline": {"value": "bottom"},
          "fill": {"value": "#333"}
        },
        "update": {
          "x": {"scale": "xscale", "signal": "tooltip.category", "band": 0.5},
          "y": {"scale": "yscale", "signal": "tooltip.amount", "offset": -2},
          "text": {"signal": "tooltip.amount"},
          "fillOpacity": [
            {"test": "datum === tooltip", "value": 0},
            {"value": 1}
          ]
        }
      }
    }
  ]
}

In [12]:
w2 = MidasWidget(spec_with_data2)

In [13]:
w2

MidasWidget()

In [48]:
widget

MidasWidget()

In [45]:
def getDf(df):
    newdf = df.copy()
    newdf['amount'] = newdf['amount'].apply(lambda x: x * 2)
    return newdf

In [49]:
cb = """var valStr = JSON.stringify(value);
  var pythonCommand = `
from json import loads
from pandas import DataFrame
d = loads('${valStr}')
df = DataFrame(d, index=[0])
widget.selection=df
widget.tick(getDf, w2, 'table')
  `;
  console.log('pythonCommand', pythonCommand);
      IPython.notebook.kernel.execute(pythonCommand);"""
widget.registerSignalCallback('tooltip', cb)

#2 received register signal tooltip var valStr = JSON.stringify(value);
  var pythonCommand = `
from json import loads
from pandas import DataFrame
d = loads('${valStr}')
df = DataFrame(d, index=[0])
widget.selection=df
widget.tick(getDf, w2, 'table')
  `;
  console.log('pythonCommand', pythonCommand);
  IPython.notebook.kernel.execute(pythonCommand);

In [50]:
widget.selection

  category  amount
0        H      87

In [46]:
getDf(widget.selection)

  category  amount
0        A      56

In [47]:
widget.tick(getDf, w2, 'table')