# Accessing Selections
Underneath the hood, `Midas` creates an _event loop_ that updates the values everytime there is a new selection

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import midas
ip = get_ipython()
m = Midas(ip)
ip.register_magics(m)

In [3]:
cars_df = m.read_json('data/cars.json', 'cars_df')

[register_df]		cars_df

In [5]:
cars_df.head(5)

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
m_index,,,,,,,,,
0-cars_df,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1-cars_df,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2-cars_df,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3-cars_df,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4-cars_df,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

### Read the predicate

In [7]:
# sanity check
%%m.react
s = m.get_current_selection('cars_df')
s.x

(17.149765625, 19.129765624999997)

In [ ]:
# you can also see when the interaction was made
s.interaction_time

In [ ]:
# you can also access the predicate by the data that is filtered
m.get_current_selection('cars_df', "data")

## Accessing the Current Interactive Selection in Code

In [ ]:
# you can click on the `code` button, or run the follow function to get the code that represents the selection
m.js_get_current_chart_code('cars_df')

## Specifying _Derived Charts_

In [6]:
# the user can define a new dataframe based on the selection, which we will visualize
@m.bind("data", "data", 'cars_df', "test")
def df_trans(df_in):
    df_out = df_in['Cylinders'] + df_in['Acceleration']
    return df_out.to_frame('Val')

[_add_to_tick]		 calledcars_df
TickItem(param_type=<TickIOType.data: 'data'>, output_type=<TickIOType.data: 'data'>, call=<function df_trans at 0x110b902f0>, target_df='test', last_called=None)

In [ ]:
# note that while the value of d is reactively updated,
#   anything that depends on d is _not_ re-ran
d = None
@m.bind("predicate", "void", 'cars_df')
def cb(predicate):
    global d
    d = predicate

In [ ]:
d

## Create a Detail on Demand Visualization with _Derived Charts_

In [ ]:
# the user can define a new dataframe based on the selection, which we will visualize
m.new_visualization_from_selection('cars_df', 'detail_df')
def df_copy(df_in):
    return df_in