# Static Chart Visualization Demo
This notebook show cases how Midas could help you see the `DataFrame`s as you make then

In [1]:
%load_ext autoreload
%autoreload 2
import midas

In [2]:
# create an instance of Midas, which will have the global state for this session
m = midas.Midas()

In [3]:
# load DF, using 
cars_df = m.read_json('cars.json', 'cars_df')

[register_df]		cars_df

In [4]:
cars_df.head(10)

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
m_index,,,,,,,,,
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01
5,10.0,8,429.0,198.0,15.0,ford galaxie 500,USA,4341,1970-01-01
6,9.0,8,454.0,220.0,14.0,chevrolet impala,USA,4354,1970-01-01
7,8.5,8,440.0,215.0,14.0,plymouth fury iii,USA,4312,1970-01-01
8,10.0,8,455.0,225.0,14.0,pontiac catalina,USA,4425,1970-01-01
9,8.5,8,390.0,190.0,15.0,amc ambassador dpl,USA,3850,1970-01-01

In [5]:
# let's try a bar chart, select just the origins
origin_df = m.loc('cars_df', 'origin_df', columns=['Origin'])

[register_df]		origin_df

In [ ]:
displacement_df = m.loc('cars_df', 'displacement_df', columns=['Displacement'])

In [ ]:
import pandas as pd

In [ ]:
# this is a test for timeseries
reviews_df_raw = pd.read_csv('/Users/yifanwu/Dev/midas/notebooks/pitchfork.csv',
                 index_col=None,
                 parse_dates=['pub_date'])
reviews_df = reviews_df_raw[['pub_date']]
m.register_df(reviews_df, 'reivews_df')