# Linking Charts

In the previous example, we showed how you can create a visualization that reactively updates based on the selections. In this notebook, we show how you can link two `DataFrame`s that are derived from the same datasource and filter them automatically.

In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
from midas import Midas
m = Midas()

### Get all cars data

In [2]:
cars_df = m.read_json('data/cars.json', 'cars_df')

[register_df]		cars_df

In [4]:
cars_df.head(5)

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
m_index,,,,,,,,,
0-cars_df,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1-cars_df,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2-cars_df,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3-cars_df,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4-cars_df,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [3]:
cylinder_df = m.loc('cars_df', 'cylinder_df', columns=['Cylinders'])

[register_df]		cylinder_df

In [4]:
year_df = m.loc('cars_df', 'year_df', columns=['Year'])

[register_df]		year_df

In [5]:
m.link('year_df', 'cylinder_df')
# Eugene:
# - maybe default??
# - what if dfs from complex graph

# now you can brush year to filter the cylinder distribution

[_add_to_tick]		 calledyear_df
TickItem(param_type=<TickIOType.data: 'data'>, output_type=<TickIOType.data: 'data'>, call=<function get_df_transform_func_by_index.<locals>.transform at 0x115e958c8>, target_df='cylinder_df', last_called=None)