In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from midas import Midas
m = Midas()

Initiated Midas

In [6]:
a = slice(1, 10)
isinstance(a, slice)

True

In [19]:
def tags(tag_name):
    def tags_decorator(func):
        def func_wrapper(name):
            return "<{0}>{1}</{0}>".format(tag_name, func(name))
        return func_wrapper
    return tags_decorator

@tags("p")
def get_text(name):
    return "Hello "+name

print(get_text("John"))

<p>Hello John</p>

In [20]:
def p_decorate(func):
   def func_wrapper(name):
       return "<p>{0}</p>".format(func(name))
   return func_wrapper

@p_decorate
def get_text(name):
   return "lorem ipsum, {0} dolor sit amet".format(name)

print(get_text("John"))

<p>lorem ipsum, John dolor sit amet</p>

In [21]:
@p_decorate
a = 1

SyntaxError: invalid syntax (<ipython-input-21-4dbaf0838381>, line 2)

In [14]:
a.start

1

In [15]:
b = slice(1)

In [16]:
b.start

In [18]:
b.stop

1

In [3]:
import collections

Person = collections.namedtuple('Person', 'name age gender')

In [7]:
import pandas as pd

In [8]:
df = m.read_json('cars.json', 'cars')

showing visualization

In [12]:
df.loc[:,'Acceleration']

0      12.0
1      11.5
2      11.0
3      12.0
4      10.5
5      10.0
6       9.0
7       8.5
8      10.0
9       8.5
10     17.5
11     11.5
12     11.0
13     10.5
14     11.0
15     10.0
16      8.0
17      8.0
18      9.5
19     10.0
20     15.0
21     15.5
22     15.5
23     16.0
24     14.5
25     20.5
26     17.5
27     14.5
28     17.5
29     12.5
       ...
376    18.6
377    18.0
378    16.2
379    16.0
380    18.0
381    16.4
382    20.5
383    15.3
384    18.2
385    17.6
386    14.7
387    17.3
388    14.5
389    14.5
390    16.9
391    15.0
392    15.7
393    16.2
394    16.4
395    17.0
396    14.5
397    14.7
398    13.9
399    13.0
400    17.3
401    15.6
402    24.6
403    11.6
404    18.6
405    19.4
Name: Acceleration, Length: 406, dtype: float64

In [9]:
# the show me style rendering could be more intelligent...
w = m.get_current_widget()

cars
#2 received register signal selectionRange
            var __m_val_str = JSON.stringify(value);
            var pythonCommand = `
                from json import loads
                from pandas import DataFrame
                __m_loaded_data = loads('${__m_val_str}')
                __m_select_df = DataFrame(__m_loaded_data, index=[0])
                m.add_selection("cars", __m_select_df)
            `;
            console.log('pythonCommand', pythonCommand);
            IPython.notebook.kernel.execute(pythonCommand);

In [18]:
df

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01
5,10.0,8,429.0,198.0,15.0,ford galaxie 500,USA,4341,1970-01-01
6,9.0,8,454.0,220.0,14.0,chevrolet impala,USA,4354,1970-01-01
7,8.5,8,440.0,215.0,14.0,plymouth fury iii,USA,4312,1970-01-01
8,10.0,8,455.0,225.0,14.0,pontiac catalina,USA,4425,1970-01-01
9,8.5,8,390.0,190.0,15.0,amc ambassador dpl,USA,3850,1970-01-01
10,17.5,4,133.0,115.0,NaN,citroen ds-21 pallas,Europe,3090,1970-01-01
11,11.5,8,350.0,165.0,NaN,chevrolet chevelle concours (sw),USA,4142,1970-01-01
12,11.0,8,351.0,153.0,NaN,ford torino (sw),USA,4034,1970-01-01
13,10.5,8,383.0,175.0,NaN,plymouth satellite (sw),USA,4166,1970-01-01
14,11.0,8,360.0,175.0,NaN,amc rebel sst (sw),USA,3850,1970-01-01
15,10.0,8,383.0,170.0,15.0,dodge challenger se,USA,3563,1970-01-01
16,8.0,8,340.0,160.0,14.0,plymouth 'cuda 340,USA,3609,1970-01-01
17,8.0,8,302.0,140.0,NaN,ford mustang boss 302,USA,3353,1970-01-01
18,9.5,8,400.0,150.0,15.0,chevrolet monte carlo,USA,3761,1970-01-01
19,10.0,8,455.0,225.0,14.0,buick estate wagon (sw),USA,3086,1970-01-01
20,15.0,4,113.0,95.0,24.0,toyota corona mark ii,Japan,2372,1970-01-01
21,15.5,6,198.0,95.0,22.0,plymouth duster,USA,2833,1970-01-01
22,15.5,6,199.0,97.0,18.0,amc hornet,USA,2774,1970-01-01
23,16.0,6,200.0,85.0,21.0,ford maverick,USA,2587,1970-01-01
24,14.5,4,97.0,88.0,27.0,datsun pl510,Japan,2130,1970-01-01
25,20.5,4,97.0,46.0,26.0,volkswagen 1131 deluxe sedan,Europe,1835,1970-01-01
26,17.5,4,110.0,87.0,25.0,peugeot 504,Europe,2672,1970-01-01
27,14.5,4,107.0,90.0,24.0,audi 100 ls,Europe,2430,1970-01-01
28,17.5,4,104.0,95.0,25.0,saab 99e,Europe,2375,1970-01-01
29,12.5,4,121.0,113.0,26.0,bmw 2002,Europe,2234,1970-01-01
...,...,...,...,...,...,...,...,...,...
376,18.6,4,112.0,88.0,27.0,chevrolet cavalier wagon,USA,2640,1982-01-01
377,18.0,4,112.0,88.0,34.0,chevrolet cavalier 2-door,USA,2395,1982-01-01
378,16.2,4,112.0,85.0,31.0,pontiac j2000 se hatchback,USA,2575,1982-01-01
379,16.0,4,135.0,84.0,29.0,dodge aries se,USA,2525,1982-01-01
380,18.0,4,151.0,90.0,27.0,pontiac phoenix,USA,2735,1982-01-01
381,16.4,4,140.0,92.0,24.0,ford fairmont futura,USA,2865,1982-01-01
382,20.5,4,151.0,NaN,23.0,amc concord dl,USA,3035,1982-01-01
383,15.3,4,105.0,74.0,36.0,volkswagen rabbit l,Europe,1980,1982-01-01
384,18.2,4,91.0,68.0,37.0,mazda glc custom l,Japan,2025,1982-01-01
385,17.6,4,91.0,68.0,31.0,mazda glc custom,Japan,1970,1982-01-01
386,14.7,4,105.0,63.0,38.0,plymouth horizon miser,USA,2125,1982-01-01
387,17.3,4,98.0,70.0,36.0,mercury lynx l,USA,2125,1982-01-01
388,14.5,4,120.0,88.0,36.0,nissan stanza xe,Japan,2160,1982-01-01
389,14.5,4,107.0,75.0,36.0,honda Accelerationord,Japan,2205,1982-01-01
390,16.9,4,108.0,70.0,34.0,toyota corolla,Japan,2245,1982-01-01
391,15.0,4,91.0,67.0,38.0,honda civic,Japan,1965,1982-01-01
392,15.7,4,91.0,67.0,32.0,honda civic (auto),Japan,1965,1982-01-01
393,16.2,4,91.0,67.0,38.0,datsun 310 gx,Japan,1995,1982-01-01
394,16.4,6,181.0,110.0,25.0,buick century limited,USA,2945,1982-01-01
395,17.0,6,262.0,85.0,38.0,oldsmobile cutlass ciera (diesel),USA,3015,1982-01-01
396,14.5,4,156.0,92.0,26.0,chrysler lebaron medallion,USA,2585,1982-01-01
397,14.7,6,232.0,112.0,22.0,ford granada l,USA,2835,1982-01-01
398,13.9,4,144.0,96.0,32.0,toyota celica gt,Japan,2665,1982-01-01
399,13.0,4,135.0,84.0,36.0,dodge charger 2.2,USA,2370,1982-01-01
400,17.3,4,151.0,90.0,27.0,chevrolet camaro,USA,2950,1982-01-01
401,15.6,4,140.0,86.0,27.0,ford mustang gl,USA,2790,1982-01-01
402,24.6,4,97.0,52.0,44.0,vw pickup,Europe,2130,1982-01-01
403,11.6,4,135.0,84.0,32.0,dodge rampage,USA,2295,1982-01-01
404,18.6,4,120.0,79.0,28.0,ford ranger,USA,2625,1982-01-01
405,19.4,4,119.0,82.0,31.0,chevy s-10,USA,2720,1982-01-01

In [10]:
w

MidasWidget()

In [17]:
bar

2

In [21]:
import pandas as pd

col_names =  ['A', 'B', 'C']
my_df  = pd.DataFrame(columns = col_names)
my_df

Empty DataFrame
Columns: [A, B, C]
Index: []

In [12]:
from json import loads
from pandas import DataFrame
__m_loaded_data = loads('{"x":[14.52177520751953,20.306775207519532],"y":[7,2.16]}')
__m_select_df = DataFrame(__m_loaded_data, index=[0])
m.add_selection("cars", __m_select_df)

ValueError: Shape of passed values is (2, 2), indices imply (2, 1)

In [19]:
__m_loaded_data

{'x': [14.52177520751953, 20.306775207519532], 'y': [7, 2.16]}

In [15]:
foo

1

In [16]:
foo ===== 1

SyntaxError: invalid syntax (<ipython-input-16-04765e8c90a8>, line 1)

In [11]:
m.get_selection_history('cars')

[]

## Car Analysis

In [3]:
a.get_name()

AttributeError: 'MyClass' object has no attribute '__name__'

In [ ]:
# centralized state so that we can coordinate across charts
m = Midas()

### 💥showme like visual dashboard to support basic interactive visualizations

In [ ]:
# this will show a simple interactive chart where we can select columns to visualize, facet etc.
cars_dashboard = m.draw(df)

![title](img/chart_dashboard2.png)

### 💥manual specification if developer wants to intervene

In [ ]:
# if they want to customize, very easy
# modify
cars_dashboard.c1.spec(user_supplied_vega_spec)
# or at the beginning
cars_dashboard = m.draw(df, user_supplied_vega_spec)

### 💥accessing the data of selections and charts for programming

In [ ]:
cars_dashboard.c1.data

![df](img/df.png)

In [ ]:
cars_dashboard.c1.selection.func
# returns 
#   {selectionType: "range", min: 2011, max: 2012}
#   {selectionType: "point", val: 2011}

In [ ]:
cars_dashboard.c1.selection.data
# returns a dataframe of all the data selected, the direct points, e.g., year and amount

### 💥 (basic) lineage

In [ ]:
cars_dashboard.c1.selection.sourced_data
# returns a dataframe of the original, e.g, the year, miles_per_gallon, cylinders etc.
# effectively lineage

In [ ]:
# if there are multiple charts, then each chart will be named
cars_dashboard.c1.selection
# similarly
cars_dashboard.c1.spec(user_supplied_vega_spec)

In [ ]:
cars_dashboard.addChart(df['cylinders', 'year'])

![df](img/dash3.png)

### 💥easy inferred interactivity

In [ ]:
cars_dashboard.link(c1, c2)
# then the two charts in the dashboard becomes linked
# easily achieved by modifying the vega spec
.facet_by()

### 💥interactivity via `.selection.data`
This is helpful when the developer wants to do more advanced manipulation of the selected data. For instance, run the car models selected in some black-box python functions that implement prediction algorithms

In [ ]:
def predicted_df(df):
    # do something 
    newdf
    return newdf

# addChart is overloaded
# it renders a new chart by running the function predicted_df on c1
cars_dashboard.addChart("c1", predicted_df)

### Why interactions in notebooks
*why not just type?*

Hypothesis:
* tighten the loop, fast
* how broadly are the datasets covered
  * e.g. xfilter can see more dimensions (vs sets of small multiples & 3d plots) -> conclusion: higher dim data
* finding something not planned (some ambiguity)
  * tension between explicit spec (common in notebooks) vs inferring from context
  * look through vega(-lite) library for inspirations

Value prop:
* seamless addition, another modality (in addition to coding)
  * reactivity vs interactivity
  * constantly supplying visualizations relevant to the program at the moment

Notebooks?
* notebooks are for publishing (notes)
* notebooks have sessions
  * animation? frames of transitions of dfs
  * input/output of cells


ways to brainstorm features
* leverage context
   * what is context??? e.g., trafacta extrapolating steps
   * look at the history of code, and take out columns people look at, and show these visualizations
* think more like a data scientist (less constrained by existing algebras)
* ask users, tensor board, vis while iterating on model dev
* there is a class of interactions that are not named e.g., "brushing"

key contributions
* model
    * why the model is good
    * integrating with vega & distilling new deltas
* interactions in notebooks
    
novelty?
* v observableHQ -- context: grammar & history
* v voyager --- still have to specify the wildcard and where to put it

### How to expose interaction history

## User Analysis
We will show how _Midas_ can link across different data sources